$black: unquote("#000");
$white: unquote("#fff");
$rose-50: unquote("#fff1f2");
$rose-100: unquote("#ffe4e6");
$rose-200: unquote("#fecdd3");
$rose-300: unquote("#fda4af");
$rose-400: unquote("#fb7185");
$rose-500: unquote("#f43f5e");
$rose-600: unquote("#e11d48");
$rose-700: unquote("#be123c");
$rose-800: unquote("#9f1239");
$rose-900: unquote("#881337");
$pink-50: unquote("#fdf2f8");
$pink-100: unquote("#fce7f3");
$pink-200: unquote("#fbcfe8");
$pink-300: unquote("#f9a8d4");
$pink-400: unquote("#f472b6");
$pink-500: unquote("#ec4899");
$pink-600: unquote("#db2777");
$pink-700: unquote("#be185d");
$pink-800: unquote("#9d174d");
$pink-900: unquote("#831843");
$fuchsia-50: unquote("#fdf4ff");
$fuchsia-100: unquote("#fae8ff");
$fuchsia-200: unquote("#f5d0fe");
$fuchsia-300: unquote("#f0abfc");
$fuchsia-400: unquote("#e879f9");
$fuchsia-500: unquote("#d946ef");
$fuchsia-600: unquote("#c026d3");
$fuchsia-700: unquote("#a21caf");
$fuchsia-800: unquote("#86198f");
$fuchsia-900: unquote("#701a75");
$purple-50: unquote("#faf5ff");
$purple-100: unquote("#f3e8ff");
$purple-200: unquote("#e9d5ff");
$purple-300: unquote("#d8b4fe");
$purple-400: unquote("#c084fc");
$purple-500: unquote("#a855f7");
$purple-600: unquote("#9333ea");
$purple-700: unquote("#7e22ce");
$purple-800: unquote("#6b21a8");
$purple-900: unquote("#581c87");
$violet-50: unquote("#f5f3ff");
$violet-100: unquote("#ede9fe");
$violet-200: unquote("#ddd6fe");
$violet-300: unquote("#c4b5fd");
$violet-400: unquote("#a78bfa");
$violet-500: unquote("#8b5cf6");
$violet-600: unquote("#7c3aed");
$violet-700: unquote("#6d28d9");
$violet-800: unquote("#5b21b6");
$violet-900: unquote("#4c1d95");
$indigo-50: unquote("#eef2ff");
$indigo-100: unquote("#e0e7ff");
$indigo-200: unquote("#c7d2fe");
$indigo-300: unquote("#a5b4fc");
$indigo-400: unquote("#818cf8");
$indigo-500: unquote("#6366f1");
$indigo-600: unquote("#4f46e5");
$indigo-700: unquote("#4338ca");
$indigo-800: unquote("#3730a3");
$indigo-900: unquote("#312e81");
$blue-50: unquote("#eff6ff");
$blue-100: unquote("#dbeafe");
$blue-200: unquote("#bfdbfe");
$blue-300: unquote("#93c5fd");
$blue-400: unquote("#60a5fa");
$blue-500: unquote("#3b82f6");
$blue-600: unquote("#2563eb");
$blue-700: unquote("#1d4ed8");
$blue-800: unquote("#1e40af");
$blue-900: unquote("#1e3a8a");
$lightBlue-50: unquote("#f0f9ff");
$lightBlue-100: unquote("#e0f2fe");
$lightBlue-200: unquote("#bae6fd");
$lightBlue-300: unquote("#7dd3fc");
$lightBlue-400: unquote("#38bdf8");
$lightBlue-500: unquote("#0ea5e9");
$lightBlue-600: unquote("#0284c7");
$lightBlue-700: unquote("#0369a1");
$lightBlue-800: unquote("#075985");
$lightBlue-900: unquote("#0c4a6e");
$cyan-50: unquote("#ecfeff");
$cyan-100: unquote("#cffafe");
$cyan-200: unquote("#a5f3fc");
$cyan-300: unquote("#67e8f9");
$cyan-400: unquote("#22d3ee");
$cyan-500: unquote("#06b6d4");
$cyan-600: unquote("#0891b2");
$cyan-700: unquote("#0e7490");
$cyan-800: unquote("#155e75");
$cyan-900: unquote("#164e63");
$teal-50: unquote("#f0fdfa");
$teal-100: unquote("#ccfbf1");
$teal-200: unquote("#99f6e4");
$teal-300: unquote("#5eead4");
$teal-400: unquote("#2dd4bf");
$teal-500: unquote("#14b8a6");
$teal-600: unquote("#0d9488");
$teal-700: unquote("#0f766e");
$teal-800: unquote("#115e59");
$teal-900: unquote("#134e4a");
$emerald-50: unquote("#ecfdf5");
$emerald-100: unquote("#d1fae5");
$emerald-200: unquote("#a7f3d0");
$emerald-300: unquote("#6ee7b7");
$emerald-400: unquote("#34d399");
$emerald-500: unquote("#10b981");
$emerald-600: unquote("#059669");
$emerald-700: unquote("#047857");
$emerald-800: unquote("#065f46");
$emerald-900: unquote("#064e3b");
$green-50: unquote("#f0fdf4");
$green-100: unquote("#dcfce7");
$green-200: unquote("#bbf7d0");
$green-300: unquote("#86efac");
$green-400: unquote("#4ade80");
$green-500: unquote("#22c55e");
$green-600: unquote("#16a34a");
$green-700: unquote("#15803d");
$green-800: unquote("#166534");
$green-900: unquote("#14532d");
$lime-50: unquote("#f7fee7");
$lime-100: unquote("#ecfccb");
$lime-200: unquote("#d9f99d");
$lime-300: unquote("#bef264");
$lime-400: unquote("#a3e635");
$lime-500: unquote("#84cc16");
$lime-600: unquote("#65a30d");
$lime-700: unquote("#4d7c0f");
$lime-800: unquote("#3f6212");
$lime-900: unquote("#365314");
$yellow-50: unquote("#fefce8");
$yellow-100: unquote("#fef9c3");
$yellow-200: unquote("#fef08a");
$yellow-300: unquote("#fde047");
$yellow-400: unquote("#facc15");
$yellow-500: unquote("#eab308");
$yellow-600: unquote("#ca8a04");
$yellow-700: unquote("#a16207");
$yellow-800: unquote("#854d0e");
$yellow-900: unquote("#713f12");
$amber-50: unquote("#fffbeb");
$amber-100: unquote("#fef3c7");
$amber-200: unquote("#fde68a");
$amber-300: unquote("#fcd34d");
$amber-400: unquote("#fbbf24");
$amber-500: unquote("#f59e0b");
$amber-600: unquote("#d97706");
$amber-700: unquote("#b45309");
$amber-800: unquote("#92400e");
$amber-900: unquote("#78350f");
$orange-50: unquote("#fff7ed");
$orange-100: unquote("#ffedd5");
$orange-200: unquote("#fed7aa");
$orange-300: unquote("#fdba74");
$orange-400: unquote("#fb923c");
$orange-500: unquote("#f97316");
$orange-600: unquote("#ea580c");
$orange-700: unquote("#c2410c");
$orange-800: unquote("#9a3412");
$orange-900: unquote("#7c2d12");
$red-50: unquote("#fef2f2");
$red-100: unquote("#fee2e2");
$red-200: unquote("#fecaca");
$red-300: unquote("#fca5a5");
$red-400: unquote("#f87171");
$red-500: unquote("#ef4444");
$red-600: unquote("#dc2626");
$red-700: unquote("#b91c1c");
$red-800: unquote("#991b1b");
$red-900: unquote("#7f1d1d");
$warmGray-50: unquote("#fafaf9");
$warmGray-100: unquote("#f5f5f4");
$warmGray-200: unquote("#e7e5e4");
$warmGray-300: unquote("#d6d3d1");
$warmGray-400: unquote("#a8a29e");
$warmGray-500: unquote("#78716c");
$warmGray-600: unquote("#57534e");
$warmGray-700: unquote("#44403c");
$warmGray-800: unquote("#292524");
$warmGray-900: unquote("#1c1917");
$trueGray-50: unquote("#fafafa");
$trueGray-100: unquote("#f5f5f5");
$trueGray-200: unquote("#e5e5e5");
$trueGray-300: unquote("#d4d4d4");
$trueGray-400: unquote("#a3a3a3");
$trueGray-500: unquote("#737373");
$trueGray-600: unquote("#525252");
$trueGray-700: unquote("#404040");
$trueGray-800: unquote("#262626");
$trueGray-900: unquote("#171717");
$gray-50: unquote("#fafafa");
$gray-100: unquote("#f4f4f5");
$gray-200: unquote("#e4e4e7");
$gray-300: unquote("#d4d4d8");
$gray-400: unquote("#a1a1aa");
$gray-500: unquote("#71717a");
$gray-600: unquote("#52525b");
$gray-700: unquote("#3f3f46");
$gray-800: unquote("#27272a");
$gray-900: unquote("#18181b");
$coolGray-50: unquote("#f9fafb");
$coolGray-100: unquote("#f3f4f6");
$coolGray-200: unquote("#e5e7eb");
$coolGray-300: unquote("#d1d5db");
$coolGray-400: unquote("#9ca3af");
$coolGray-500: unquote("#6b7280");
$coolGray-600: unquote("#4b5563");
$coolGray-700: unquote("#374151");
$coolGray-800: unquote("#1f2937");
$coolGray-900: unquote("#111827");
$blueGray-50: unquote("#f8fafc");
$blueGray-100: unquote("#f1f5f9");
$blueGray-200: unquote("#e2e8f0");
$blueGray-300: unquote("#cbd5e1");
$blueGray-400: unquote("#94a3b8");
$blueGray-500: unquote("#64748b");
$blueGray-600: unquote("#475569");
$blueGray-700: unquote("#334155");
$blueGray-800: unquote("#1e293b");
$blueGray-900: unquote("#0f172a");
