// === variables ===
$max-width: 55rem;
$max-width-desktop: 75rem;

// I also can try #7d50df or hsl(258, 69%, 59%)
// tbh these primary colors suck ass

$primary-color: hsl(265, 40%, 65%);
$primary-color-light-1: hsl(265, 40%, 75%);
$primary-color-light-2: hsl(265, 40%, 85%);
$primary-color-light-3: hsl(265, 40%, 95%);
$primary-color-light-4: hsl(265, 40%, 98%);
$primary-color-dark-1: hsl(265, 40%, 55%);
$primary-color-dark-2: hsl(265, 40%, 45%);
$primary-color-dark-3: hsl(265, 40%, 35%);
$primary-color-dark-4: hsl(265, 40%, 25%);

$background-color: hsl(0, 0%, 100%);
$text-color: hsl(0, 0%, 20%);
$text-color-light-1: hsl(0, 0%, 30%);
$text-color-light-2: hsl(0, 0%, 40%);
$text-color-light-3: hsl(0, 0%, 50%);
$text-color-light-4: hsl(0, 0%, 60%);
$text-color-light-5: hsl(0, 0%, 70%);
$code-background-color: $primary-color-light-3;
$code-color: $text-color-light-2;

$dark-mode: false;
@if $dark-mode {
  $background-color: hsl(0, 0%, 15%);
  $text-color: hsl(0, 0%, 100%);
  $text-color-light-1: hsl(0, 0%, 90%);
  $text-color-light-2: hsl(0, 0%, 80%);
  $text-color-light-3: hsl(0, 0%, 70%);
  $text-color-light-4: hsl(0, 0%, 60%);
  $text-color-light-5: hsl(0, 0%, 50%);
  $code-background-color: $primary-color-dark-4;
  $code-color: $primary-color-light-2;
}

// === mixins ===
@mixin thick-title {
  font-size: 3rem;
  font-weight: 700;
}

@mixin monospace-font {
  font-family: "Fira Code", monospace;
}

@mixin date-text {
  font-size: 1.5rem;
  color: $text-color-light-5;
}

// === base ===
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// without this margin bottom, there's no line break
// in the post
p {
  margin-bottom: 1rem;

  a {
    color: $text-color-light-1;
    text-decoration: underline;
  }
}

html {
  font-size: 10px;
}

body {
  font-size: 1.75rem;
  font-family: "Literata", serif;
  color: $text-color;
  background-color: $background-color;
}

a {
  text-decoration: none;
  color: $text-color;
}

// blocks of code
pre {
  border-radius: 5px;
  padding: 1rem;
  overflow-x: auto;
  margin: 1rem 0 1rem 0;

  code {
    @include monospace-font;
  }
}

// code (single backtick) in text
p > code,
li > code,
dd > code,
td > code {
  @include monospace-font;
  background: $code-background-color;
  color: $code-color;
  padding: 0 0.5rem;
}

blockquote {
  padding-left: 1rem;
  margin-top: 1rem;
  border-radius: 3px;
  margin-left: 3px;
  border-left: 3px solid $primary-color-light-1;
  background: $primary-color-light-4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
}

h1 {
  margin-top: 3rem;
}

h2 {
  margin-top: 2rem;
}

h3 {
  margin-top: 1.5rem;
}

ul,
ol {
  margin-left: 2.5rem;
  margin-bottom: 1rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 1rem;
}

// === imports ===
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=Literata:ital,wght@0,400;0,700;1,400&display=swap");
// @import './scss/variables';
// @import './scss/mixins';
// @import './scss/base';

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;

  &-title {
    @include monospace-font;
    font-size: 3rem;
    font-weight: 300;
    white-space: nowrap;
  }

  &-links {
    a {
      @include monospace-font;
      color: $text-color-light-5;
      margin-right: 2rem;
      font-weight: 300;
    }
  }
}

.list {
  margin-bottom: 2rem;

  &:last-of-type {
    margin-bottom: 5rem;
  }

  &-date {
    @include date-text;
  }

  &-title {
    @include thick-title;
  }
}

.post {
  &-title {
    @include thick-title;
  }

  &-date {
    @include date-text;
    margin-bottom: 1rem;
  }
}

// breakpoint is arbitrary
@media (min-width: 600px) {
  html {
    font-size: 11.5px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 13px;
  }

  .container {
    max-width: none;
    padding: 2rem;
    margin: 0;

    display: flex;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 3rem;

    &-title {
      margin-bottom: 2rem;
    }

    &-links {
      display: flex;
      flex-direction: column;

      a {
        margin-bottom: 1rem;
        margin-right: 0;
      }
    }
  }

  .post {
    margin-top: 5rem;
  }

  .post,
  .list {
    max-width: $max-width;
  }

  .list:first-of-type {
    margin-top: 5rem;
  }
}
