// === imports ===
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;900&display=swap");

// @import './scss/variables';
// @import './scss/mixins';
// @import './scss/base';
@import "./_coloree.scss";

// === variables ===
$max-width: 55ch;
$text-color: $gray-700;
$text-color-secondary: $gray-400;
$background-color: white;

// === mixins ===
@mixin monospace-font {
  font-family: "Noto Sans Mono", monospace;
  text-transform: lowercase;
}

@mixin date-text {
  margin-top: 0;
  font-size: 1.5rem;
  color: $text-color-secondary;
}

@mixin link-underline {
  text-decoration: underline;
  text-decoration-color: $lightBlue-500;
}

// === base ===
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// without this margin bottom, there's no line break
// in the post
p {
  margin-top: 1rem;
  margin-bottom: 1rem;

  a {
    @include link-underline();
  }
}

html {
  font-size: 10px;
}

body {
  font-size: 1.75rem;
  font-family: "Roboto Condensed", serif;
  color: $text-color;
  background-color: hsl(0, 0%, 100%);
}

a {
  text-decoration: none;
  color: $text-color;
  overflow-wrap: break-word;
}

// blocks of code
pre {
  background: $blueGray-50;
  border-radius: 3px;
  padding: 1rem;
  overflow-x: auto;
  margin: 1rem 0 1rem 0;

  code {
    @include monospace-font;
    text-transform: none;
  }
}

// code (single backtick) in text
p > code,
li > code,
dd > code,
td > code {
  @include monospace-font;
  background: $blue-50;
  padding: 0 0.5rem;
}

blockquote {
  margin: 0 2rem;
  font-style: italic;

  p {
    margin-bottom: 0;
  }
}

// currently limited to email only
input {
  @include monospace-font;
  padding: 0.5rem;
  font-size: 1.5rem;

  &[type="email"] {
    width: 50%;
  }
}

img {
  max-width: 100%;
  display: block;
  margin: 3rem auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
}

h1 {
  margin-top: 3rem;
  font-family: "Noto Sans Mono", monospace;
  font-weight: 900;
}

h2 {
  margin-top: 2rem;
}

h3 {
  margin-top: 1.5rem;
}

ul,
ol {
  margin-left: 2.5rem;
  margin-bottom: 1rem;

  a {
    @include link-underline();
  }
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 1rem;
}

// === non-base ===
.nav {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;

  &-title {
    font-family: "Roboto Condensed", serif;
    font-size: 2.5rem;
    font-weight: 400;
    white-space: nowrap;
  }

  &-links {
    a {
      @include monospace-font;
      color: $text-color-secondary;
      margin-right: 2rem;
      font-weight: 300;
      text-align: right;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.list {
  margin-bottom: 2rem;

  &:last-of-type {
    margin-bottom: 5rem;
  }

  &-date {
    @include date-text;
  }
}

.list-home {
  margin-bottom: 8rem;

  &-details {
    @include date-text;
    text-align: right;
  }

  &-link {
    @include link-underline;
  }
}

.post {
  &-date {
    @include date-text;
    text-align: right;
  }

  &-next-prev {
    display: flex;
    justify-content: space-between;
    @include monospace-font;
    margin-top: 5rem;
    margin-bottom: 1rem;
  }
}

.audio-control {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;

  &-play-pause {
    margin-right: 1rem;
  }

  &-progress-bar {
    margin-right: 1rem;
  }
}

// breakpoint is arbitrary
@media (min-width: 600px) {
  html {
    font-size: 11.5px;
  }
}

// dark mode
@media (prefers-color-scheme: dark) {
  body {
    background-color: hsl(0, 0%, 15%);
    color: hsl(0, 0%, 90%);
  }

  a {
    color: hsl(0, 0%, 90%);
  }

  .nav {
    &-links {
      a {
        color: hsl(0, 0%, 70%);
      }
    }
  }
  pre {
    background: hsl(220, 15%, 16%);
  }

  // code (single backtick) in text
  p > code,
  li > code,
  dd > code,
  td > code {
    background: hsl(220, 15%, 16%);
  }
}
