@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

p {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  p a {
    text-decoration: underline;
    text-decoration-color: #0ea5e9; }

html {
  font-size: 10px; }

body {
  font-size: 1.75rem;
  font-family: "Roboto Condensed", serif;
  color: #3f3f46;
  background-color: white; }

a {
  text-decoration: none;
  color: #3f3f46;
  overflow-wrap: break-word; }

pre {
  background: #f8fafc;
  border-radius: 3px;
  padding: 1rem;
  overflow-x: auto;
  margin: 1rem 0 1rem 0; }
  pre code {
    font-family: "Noto Sans Mono", monospace;
    text-transform: lowercase;
    text-transform: none; }

p > code,
li > code,
dd > code,
td > code {
  font-family: "Noto Sans Mono", monospace;
  text-transform: lowercase;
  background: #eff6ff;
  padding: 0 0.5rem; }

blockquote {
  margin: 0 2rem;
  font-style: italic; }
  blockquote p {
    margin-bottom: 0; }

input {
  font-family: "Noto Sans Mono", monospace;
  text-transform: lowercase;
  padding: 0.5rem;
  font-size: 1.5rem; }
  input[type="email"] {
    width: 50%; }

img {
  max-width: 100%;
  display: block;
  margin: 3rem auto; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem; }

h1 {
  margin-top: 3rem;
  font-family: "Noto Sans Mono", monospace;
  font-weight: 900; }

h2 {
  margin-top: 2rem; }

h3 {
  margin-top: 1.5rem; }

ul,
ol {
  margin-left: 2.5rem;
  margin-bottom: 1rem; }
  ul a,
  ol a {
    text-decoration: underline;
    text-decoration-color: #0ea5e9; }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.container {
  max-width: 55ch;
  margin: 0 auto;
  padding: 1rem; }

.nav {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem; }
  .nav-title {
    font-family: "Roboto Condensed", serif;
    font-size: 2.5rem;
    font-weight: 400;
    white-space: nowrap; }
  .nav-links a {
    font-family: "Noto Sans Mono", monospace;
    text-transform: lowercase;
    color: #a1a1aa;
    margin-right: 2rem;
    font-weight: 300;
    text-align: right; }
    .nav-links a:last-of-type {
      margin-right: 0; }

.list {
  margin-bottom: 2rem; }
  .list:last-of-type {
    margin-bottom: 5rem; }
  .list-date {
    margin-top: 0;
    font-size: 1.5rem;
    color: #a1a1aa; }

.list-home {
  margin-bottom: 8rem; }
  .list-home-details {
    margin-top: 0;
    font-size: 1.5rem;
    color: #a1a1aa;
    text-align: right; }
  .list-home-link {
    text-decoration: underline;
    text-decoration-color: #0ea5e9; }

.post-date {
  margin-top: 0;
  font-size: 1.5rem;
  color: #a1a1aa;
  text-align: right; }
.post-next-prev {
  display: flex;
  justify-content: space-between;
  font-family: "Noto Sans Mono", monospace;
  text-transform: lowercase;
  margin-top: 5rem;
  margin-bottom: 1rem; }

.audio-control {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex; }
  .audio-control-play-pause {
    margin-right: 1rem; }
  .audio-control-progress-bar {
    margin-right: 1rem; }

@media (min-width: 600px) {
  html {
    font-size: 11.5px; } }
@media (prefers-color-scheme: dark) {
  body {
    background-color: #262626;
    color: #e6e6e6; }

  a {
    color: #e6e6e6; }

  .nav-links a {
    color: #b3b3b3; }

  pre {
    background: #23272f; }

  p > code,
  li > code,
  dd > code,
  td > code {
    background: #23272f; } }

/*# sourceMappingURL=style.css.map */
