{{ partial "header.html" . }}

<!-- goal: show x number of recent post, zero-click, on home -->

{{ $paginator := .Paginate (where .Site.RegularPages "Section" "posts") }}
{{ range $paginator.Pages }}
<div class="list-home">
  <h1 class="list-home-title">
    {{ .Title }}
  </h1>

  <div class="list-home-details">
    <span datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}">
      {{ .Date.Format "2006-01-02" }} ·
    </span>

    <a href="{{ .RelPermalink }}" class="list-home-link">
      Link to this post
    </a>
  </div>

  {{ .Content }}

</div>
{{ end }}

<div class="post-next-prev">
  {{ if $paginator.HasPrev }}
  <a href="{{ $paginator.Prev.URL }}">← Newer</a>
  {{ end }}

  {{ if $paginator.HasNext }}
  {{ if not $paginator.HasPrev }}
  <!-- this is for flexbox, it pushes the element to the right -->
  <p></p>
  {{ end }}
  <a href="{{ $paginator.Next.URL }}">Older →</a>
  {{ end }}
</div>

{{ partial "footer.html" . }}