{{ partial "header.html" . }}

<!-- goal: show x number of recent post, zero-click, on home -->

{{ $pages := first 7 (where site.RegularPages "Type" "in" site.Params.mainSections) }}
{{ range $pages }}
<div class="list">
  <a href="{{ .RelPermalink }}">
    <h1 class="list-title">
      {{ .Title }}
    </h1>
  </a>
  <p datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}" class="list-date">
    {{ .Date.Format "2006-01-02" }}
    <p />

    {{ .Content }}

</div>
{{ end }}

<div class="post-next-prev">
  <p></p>
  <a href="/posts">All post →</a>
</div>

{{ partial "footer.html" . }}